@page "/prijavisusjeda"
@using PrijaviSusjeda.Data

<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="card pl-5 pr-5 pt-5 pb-5">
                <EditForm Model="@_person" OnValidSubmit="HandleValidSubmit">
                    <DataAnnotationsValidator/>
                    <ValidationSummary/>
                    <div class="form-group pt-3">
                        <label for="ime">Ime</label>
                        <InputText id="ime" class="form-control" @bind-Value="_person.Ime"/>
                    </div>
                    <div class="form-group">
                        <label for="prezime">Prezime</label>
                        <InputText type="text" class="form-control" id="prezime" @bind-Value="_person.Prezime"/>
                    </div>
                    <div class="form-group">
                        <label for="adresa">Adresa</label>
                        <InputText type="text" class="form-control" id="adresa" @bind-Value="_person.Adresa"/>
                    </div>
                    <div class="form-group">
                        <label for="grad">Grad</label>
                        <InputText type="text" class="form-control" id="grad" @bind-Value="_person.Grad"/>
                    </div>
                    <div class="form-group">
                        <label for="postanskibroj">Poštanski broj</label>
                        <InputText type="text" class="form-control" id="postanskibroj" @bind-Value="_person.PostanskiBroj"/>
                    </div>
                    <div class="form-group">
                        <label for="zupanija">Županija</label>
                        <InputText type="text" class="form-control" id="zupanija" @bind-Value="_person.Zupanija"/>
                    </div>
                    <div class="form-group">
                        <label for="brojnoge">Broj noge</label>
                        <InputText type="text" class="form-control" id="brojnoge" @bind-Value="_person.BrojNoge"/>
                    </div>
                    <div class="form-group form-check pl-4 pt-4">
                        <InputCheckbox type="checkbox" class="form-check-input" @bind-Value="_person.Rukavica" id="idrukavica"/>
                        <label class="form-check-label" for="idrukavica">Ne nosi rukavice</label
                        <p>@_person.Rukavica</p>
                    </div>
                    <div class="form-group form-check pl-4">
                        <InputCheckbox type="checkbox" class="form-check-input" @bind-Value="_person.Ruka" id="ruke"/>
                        <label class="form-check-label" for="ruke">Ne pere ruke</label>
                        <p>@_person.Ruka</p>
                    </div>
                    <div class="form-group form-check pl-4">
                        <InputCheckbox type="checkbox" class="form-check-input" @bind-Value="_person.Maska" id="maska"/>
                        <label class="form-check-label" for="maska">Ne nosi masku</label>
                        <p>@_person.Maska</p>
                    </div>
                    <div class="form-group form-check pl-4">
                        <InputCheckbox type="checkbox" class="form-check-input" @bind-Value="_person.Distanca" id="distanca"/>
                        <label class="form-check-label" for="distanca">Ne drži distancu</label>
                        <p>@_person.Distanca</p>
                    </div>
                    <div class="form-group form-check pl-4">
                        <InputCheckbox type="checkbox" class="form-check-input" @bind-Value="_person.Kaslje" id="kaslje"/>
                        <label class="form-check-label" for="kaslje">Kašlje</label>
                        <p>@_person.Kaslje</p>
                    </div>
                    <div class="form-group form-check pl-4">
                        <InputCheckbox type="checkbox" class="form-check-input"@bind-Value="_person.Blid" id="blid"/>
                        <label class="form-check-label" for="blid">Malo mi je blid</label>
                        <p>@_person.Blid</p>
                    </div>
                    <div class="form-group form-check pl-4 pb-4">
                        <InputCheckbox @onchange="toggle" type="checkbox" class="form-check-input"@bind-Value="_person.Samoizolacija" id="blid"/>
                        <label class="form-check-label" for="blid">San čuja da bi triba bit u samoizolaciji</label>
                        <p>@_person.Samoizolacija</p>
                    </div>
                    <div class="form-group pb-3">
                        <label for="opis">Opis</label>
                        <textarea class="form-control" id="opis" rows="3"></textarea>
                    </div>
                    <div class=""></div>
                    <p>@_person.Rezultat</p>
                    <button  @onclick="_person.Kalkuliraj" type="submit" class="btn btn-outline-dark float-right">Izracunaj mi</button>
                    <button type="submit" class="btn btn-outline-dark float-right">Šu prijavi ga</button>
                </EditForm>
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>

@code {
    private Person _person = new Person();
    private void HandleValidSubmit()
    {
        Console.WriteLine("OnValidSubmit");
    }

    public bool Boolvalue { get; set; }
    
    void toggle()
    {
        Boolvalue = !Boolvalue;
        
        if(Boolvalue)
        _person.Rezultat = +1;
    }

}